---
import MainLayout from "../layouts/mainLayout.astro";
import Comment from "../components/comment.astro";
const data = await fetch(
  // "https://ciaqrilyjthqvwujzgne.supabase.co/rest/v1/test_items?accepted=eq.true",
  "https://ciaqrilyjthqvwujzgne.supabase.co/rest/v1/test_items",

  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpYXFyaWx5anRocXZ3dWp6Z25lIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzk0MDU1OTcsImV4cCI6MTk5NDk4MTU5N30.HvOlbfgbMwKnd2Dh6FMgSwgo33XsZM1nwvQXD-QrgUM",
    },
  }
).then((res) => res.json());
console.log(data);
---

<MainLayout title="Home">
  <h1 class="text-xl">Kommentarer:</h1>
  {
    data.map((comment) => {
      return <Comment data={comment} />;
    })
  }
</MainLayout>
